<header>
    <div class="profile">

        <div class="requests">
            <div class="menu-lines">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <ul class="requests-pending">

            </ul>
        </div>
    </div>

    <div class="search">

        <div class="search-bar">

            <input type="text">
            <p>|</p>

            <select name="options" id="options">
                <option value=""></option>
                <option value="">Por sala</option>
            </select>
        </div>
    </div>

    <div class="add-new">
        <div class="add-adm">
            <button><a href="#">+</a>add adm</button>
            
            <button><a href="#">-</a>remover adm</button>
        </div>
        <div class="add-employee">
            <button><a href="#">+</a>add funcionário</button>
            
            <button><a href="#">-</a>remover funcionário</button>
        </div>
    </div>
</header>