.container{
    width: 100%;
    height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
.sobre-nos{
    width: 90%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #227766;
    border-radius: 5px;
}

.sobre-nos h1{
    color: #ffffff;
}
.paragrafo{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    color: #ffffff;
}

