<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alunos</title>
    <link rel="stylesheet" th:href="@{css/paginasDeslogado/aluno.css}">
    <link rel="stylesheet" th:href="@{css/paginasDeslogado/index.css}">
</head>
<body>
    <div th:insert="~{fragmentos/header :: header}"></div>
    <div class="exibir-mensagens"></div>

    <div class="container">

        <div class="identificacao">
            <h1>Entrar como Aluno</h1>
        </div>
        <form  class="formulario" action="">
            <div class="container-formulario">
            <label class="label-logar-aluno" for="email">Seu Email</label>
            <input class="input-logar-aluno" type="email" name="email">
            <label class="label-logar-aluno" for="">Sua Senha</label>
            <input class="input-logar-aluno" type="text" name="texto">
            <button id="btn-logar-aluno" type="submit">Entrar</button>
        </div>
        </form>
    </div>
</body>
</html>