<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professores</title>
    <link rel="stylesheet" th:href="@{css/paginasDeslogado/professores.css}">
    <link rel="stylesheet" th:href="@{css/paginasDeslogado/index.css}">
</head>

<body>
    <div th:insert="~{fragmentos/header :: header}"></div>
    <div class="exibir-mensagens"></div>
    <div class="container">
        <div class="identificacao">
            <h1>Entrar como Professor</h1>
        </div>

        <form class="formulario" action="">
            <div class="container-formulario">
                <label class="label-logar-professor" for="email">Seu Email</label>
                <input class="input-logar-professor" type="email" name="email">
                <label class="label-logar-professor" for="">Sua Senha</label>
                <input class="input-logar-professor" type="text" name="texto">
                <button id="btn-logar-professor" type="submit">Entrar</button>
            </div>
        </form>
    </div>
</body>

</html>