<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre nós</title>
    <link rel="stylesheet" th:href="@{css/paginasDeslogado/sobre.css}">
    <link rel="stylesheet" th:href="@{css/paginasDeslogado/index.css}">
</head>

<body>
<div th:insert="~{fragmentos/header :: header}"></div>
    <div class="container">
        <div class="sobre-nos">
            <h1>Sobre nós</h1>
        <p class="paragrafo">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur eaque exercitationem a temporibus commodi
            rem sint nemo! Praesentium tenetur aperiam veritatis commodi provident, repellat odit minima, ullam
            voluptatibus sunt perferendis.</p>
        <p class="paragrafo">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur eaque exercitationem a temporibus commodi
            rem sint nemo! Praesentium tenetur aperiam veritatis commodi provident, repellat odit minima, ullam
            voluptatibus sunt perferendis.</p>
        <p class="paragrafo">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur eaque exercitationem a temporibus commodi
            rem sint nemo! Praesentium tenetur aperiam veritatis commodi provident, repellat odit minima, ullam
            voluptatibus sunt perferendis.</p>
        <p class="paragrafo">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur eaque exercitationem a temporibus commodi
            rem sint nemo! Praesentium tenetur aperiam veritatis commodi provident, repellat odit minima, ullam
            voluptatibus sunt perferendis.</p>
        <p class="paragrafo">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur eaque exercitationem a temporibus commodi
            rem sint nemo! Praesentium tenetur aperiam veritatis commodi provident, repellat odit minima, ullam
            voluptatibus sunt perferendis.</p>
        <p class="paragrafo">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur eaque exercitationem a temporibus commodi
            rem sint nemo! Praesentium tenetur aperiam veritatis commodi provident, repellat odit minima, ullam
            voluptatibus sunt perferendis.</p>
        <p class="paragrafo">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur eaque exercitationem a temporibus commodi
            rem sint nemo! Praesentium tenetur aperiam veritatis commodi provident, repellat odit minima, ullam
            voluptatibus sunt perferendis.</p>
        <p class="paragrafo">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur eaque exercitationem a temporibus commodi
            rem sint nemo! Praesentium tenetur aperiam veritatis commodi provident, repellat odit minima, ullam
            voluptatibus sunt perferendis.</p>
        </div>
    </div>
</body>

</html>