<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
    <link rel="stylesheet" th:href="@{css/paginasLogado/administrador.css}">
</head>

<body>
    <div class="container">

        <div class="cadastrar-aluno">

            <label for="aluno">Adicionar aluno</label>
            <div class="cadastro-aluno">
                <div class="adicionar-aluno">
                    <form action="add-aluno" method="post">
                    <input type="email" name="email">
                    <button> <img src="image/imagem-add.png" alt=""></button>
                </form>
                </div>
            </div>

        </div>

        <div class="cadastrar-professor">

            <label for="professor">Adicionar professor</label>
            <div class="cadastro-professor">

                <div class="adicionar-professor">
                    <form action="add-professor" method="post">
                    <input type="email" name="email">
                    <button><img src="image/imagem-add.png" alt=""></button>
                </form>
                </div>
            </div>

        </div>

    </div>

</body>

</html>