<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aluno</title>
    <link rel="stylesheet" th:href="@{css/paginasLogado/aluno.css}">
</head>

<body>
    <div class="container">
        <div class="minhas-meterias">
<ul class="materias">
    <li><input type="checkbox" name="materia-matematica" id="materia-matematica"><label for="materia-matematica">Matemática</label></li>
    <li><input type="checkbox" name="materia-ingles" id="materia-ingles"><label for="materia-ingles">Inglês</label></li>
    <li><input type="checkbox" name="materia-portugues" id="materia-portugues"><label for="materia-portugues">Lingua Portuguesa</label></li>
</ul>

<div class="perfil-usuario">

<div class="identificacao">
    <img src="image/imagem-perfil.png" alt="">
    <p>Nome: <span>Exemplo</span></p>
</div>

<div class="deslogar">
    <button type="submit" id="btn-deslogar">Sair</button>
</div>
</div>
        </div>
        <div class="novas-materias">
            <div class="buscar">
                <h1>Busque por novas matérias</h1>
                <div class="barra-pesquisa">
                    <input type="search">
                    <img src="image/icone-lupa-pesquisa.png" alt="Icone de pesquisa">
                </div>
            </div>
            <div class="lista-materias">

            </div>
        </div>
    </div>
</body>

</html>