<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aluno</title>
    <link rel="stylesheet" th:href="@{css/paginasLogado/aluno.css}">
</head>

<body>
    <div class="container">
        <div class="minhas-meterias">
<ul>
    <li>Matemática</li>
    <li>Inglês</li>
    <li>Lingua Portuguesa</li>
</ul>
        </div>
        <div class="novas-materias">
            <div class="buscar">
                <h1>Busque por novas matérias</h1>
                <div class="barra-pesquisa">
                    <input type="search">
                    <img src="image/icone-lupa-pesquisa.png" alt="Icone de pesquisa">
                </div>
            </div>
            <div class="lista-materias">

            </div>
        </div>
    </div>
</body>

</html>