<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" th:href="@{css/cadastro.css}">
</head>
<body>
    

<div class="container">

    <form action="">
        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome">

        <label for="email">Email</label>
        <input type="email" name="email" id="email">

        <label for="senha">Senha</label>
        <input type="password" name="senha" id="senha">

        <button type="submit" id="btn-cadastrar">Cadastrar</button>
    </form>
</div>

</body>
</html>